.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--main-max-width);
  margin: 0 auto;
  padding: 40px 10px 0px;
}

.movies__message {
  margin: 10px auto;
  max-width: 500px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.movies__message_type_error {
  color: var(--main-error-color);
}

.movies__more-btn {
  min-width: 240px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;

  color: var(--main-text-color, #fff);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--main-footer-line-color, #424242);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 70px 30px 0px;
  }

  .movies__message {
    font-size: 16px;
  }

  .movies__more-btn {
    min-width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    padding: 70px 70px 0px;
  }

  .movies__message {
    font-size: 18px;
  }
}
