.page {
  display: flex;
  min-height: 100vh; /* for sticky footer */

  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 320px;
}

.page__content {
  flex-grow: 1;
}
