.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form__input-list {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  list-style: none;
}

.auth-form__input-list-item {
  margin-bottom: 20px;
}

.auth-form__btn {
  margin-top: auto;
}
