.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form__input-list {
  display: flex;
  flex-direction: column;
  min-height: 266px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.auth-form__input-list-item {
  margin-bottom: 10px;
}

.auth-form__input-list-item:last-child {
  margin-bottom: 0;
}

.auth-form__error {
  min-height: 16px;
  margin: 0;
  margin-top: auto;

  color: var(--main-error-color);
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.auth-form__btn {
  margin-top: 14px;

  color: var(--main-text-color, #fff);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .auth-form__btn {
    margin-top: 16px;
    font-size: 14px;
    padding: 13px 15px 15px;
  }

  .auth-form__error {
    margin-top: 36px;
    min-height: 17px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
}
