.header {
  box-sizing: border-box;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  padding: 18px 14px;
  width: 100%;
  max-width: var(--main-max-width);
}

.header__logo-link {
  margin-right: 14px;
}

.header__logo-img {
  width: 38px;
  height: 38px;
}
