.techs {
  box-sizing: border-box;
  padding: 70px 18px 60px;
}

.techs__title {
  padding: 0;
  margin: 0;
  padding-bottom: 28px;
  margin-bottom: 60px;

  border-bottom: 1px solid var(--main-hr-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.techs__lead {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: -1.2px;
}

.techs__text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.44px;
  text-align: center;
}

.techs__tags-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 84px);
  justify-content: center;
  gap: 10px;

  list-style: none;
  padding: 0;
  margin: 50px 10px 10px;
}

.techs__tag {
  text-align: center;
  padding: 21px 10px;
  background: var(--main-btn-mid-bg-color, #313131);
  border-radius: 10px;
}
